$defaultColor :#ccc;


.box {
	width: 100px;
	height: 100px;
	border: 1px solid $defaultColor;
	background-color: #ddd;
	font-size: 18px;
}

.mainWrapper {
	.nav {
		padding: 30px 0;
		border-bottom: 1px solid #ccc;
		li {
			display: inline-block;
			padding: 0 30px;

			a {
				color: #666;
				text-decoration: none;
				&.selected {
					color: #5F9F9F;
				}
			}
		}
	}
}

.content {
	padding: 30px 0;
}